<div class="container">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1>New Deck</h1>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" (ngSubmit)="onSubmit()" #deckForm="ngForm">
  <fieldset>
    <legend>Legend</legend>
    <br>
    <br>
    <div class="form-group">
      <label for="title" class="col-lg-2 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" 
               class="form-control" 
               id="title" 
               placeholder="Title"
               [(ngModel)]="deck.title"
               name="title">
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-lg-2 control-label">Description</label>
      <div class="col-lg-10">
        <textarea class="form-control" 
                  rows="3"
                  id="description"
                  [(ngModel)]="deck.description"
                  name="description"></textarea>
        <span class="help-block">Provide a brief description of the deck</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary" [disabled]="!deckForm.form.valid">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
      </div>
    </div>
  </div>
</div>